# .env.example
VITE_APP_TITLE='Navigation'

# 项目路径
VITE_APP_BASE_URL='/api'
# 示例环境接口地址
VITE_APP_SERVER_URL='http://localhost:5127'

# 项目路径
VITE_APP_WEBSOCKET_BASE_URL='/websocket'
# 本地环境接口地址
VITE_APP_WEBSOCKET_SERVER_URL='wss://websocket.io'

# 版权信息
VITE_APP_COPYRIGHT='Your Copyright Information'

# 项目前端代码托管
VITE_APP_GIT_WEB_URL='This is your Git URL'
# 项目服务端代码托管
VITE_APP_GIT_SERVER_URL='This is your Git URL'

# 网站 Logo 默认显示地址
VITE_APP_LOGO_DEFAULT_URL='https://localhost/default.png'