# .env.example

# 项目标题
VITE_APP_TITLE='Navigation'
# 规定文档的作者的名字
VITE_APP_META_AUTHOR='booop'
# 规定文档的版权信息
VITE_APP_META_COPYRIGHT='booop'
# 规定文档的关键词列表
VITE_APP_META_KEYWORDS='booop, navigation, booop navigation, 导航, booop 导航'
# 规定页面的描述
VITE_APP_META_DESCRIPTION='❤ Navigation 开源练手导航，前端使用 Vue.js / Vite 进行构建，服务端使用 Nest.js 进行构建。'

# 项目路径
VITE_APP_BASE_URL='/api'
# 示例环境接口地址
VITE_APP_SERVER_URL='http://localhost:5127'

# 项目路径
VITE_APP_WEBSOCKET_BASE_URL='/websocket'
# 本地环境接口地址
VITE_APP_WEBSOCKET_SERVER_URL='wss://websocket.io'

# 版权信息
VITE_APP_COPYRIGHT='Your Copyright Information'

# 项目前端代码托管
VITE_APP_GIT_WEB_URL='This is your Git URL'
# 项目服务端代码托管
VITE_APP_GIT_SERVER_URL='This is your Git URL'

# 网站 Logo 默认显示地址
VITE_APP_LOGO_DEFAULT_URL='https://localhost/default.png'

# 百度统计代码
VITE_APP_BAIDU_TONGJI_CODE='Your BAIDU TONGJI code'